<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

</head>

<body>
    <div class="container" id="btcPriceContainer">

        <!--Below buttons will use ajax to call the DisplayBtcPrices function with the specified time frame-->
        
        <!--TODO: This would be better using a for loop with an array of the date ranges.-->

        <btn class="btn btn-primary" onclick="displayChart(730)">2y</btn>
        <btn class="btn btn-primary" onclick="displayChart(365)">1y</btn>
        <btn class="btn btn-primary" onclick="displayChart(180)">6m</btn>
        <btn class="btn btn-primary" onclick="displayChart(90)">3m</btn>
        <btn class="btn btn-primary" onclick="displayChart(30)">1m</btn>
        <btn class="btn btn-primary" onclick="displayChart(14)">2w</btn>
        <btn class="btn btn-primary" onclick="displayChart(7)">1w</btn>
        <btn class="btn btn-primary" onclick="displayChart(3)">3d</btn>
        <btn class="btn btn-primary" onclick="displayChart(1)">1d</btn>

        <canvas id="btcChart"></canvas>
    </div>

    <script>

        //this function will use ajax to call the DisplayBtcPrices controller method
        //that will currently retrieve BTC prices from the last 7 days.

        function displayChart(range) {


            //destory old chart if it exists in order to make a new one 
            if (window.btcPriceChart != null) {
                console.log(true);
                window.btcPriceChart.destroy();
            }

            var btcChart = document.getElementById('btcChart').getContext('2d');


            $.ajax({
                url: '/Home/DisplayBtcPrices?range=' + range,
                method: 'post',
                dataType: 'json',
                success: function (data) {
                    //map relevant data attribute fields
                    data = data.html;
                    let date = data.map(a => a.date);
                    console.log(date);
                    let price = data.map(b => b.price);

                    window.btcPriceChart = new Chart(btcChart, {
                        type: 'line', // bar, horizontal bar, pie, line, doughnut, radar, polarArea
                        data: {
                            labels: date,
                            datasets: [{
                                label: 'Prices',
                                backgroundColor: 'rgba(60,141,188,0.4)',
                                borderColor: 'rgba(60,141,188,0.8)',
                                pointColor: '#3b8bba',
                                pointStrokeColor: 'rgba(60,141,188,1)',
                                pointHighlightFill: '#fff',
                                pointHighlightStroke: 'rgba(60,141,188,1)',
                                data: price
                            }]
                        },
                        options: {}
                    });



                }
            })
        }

         
        displayChart();


    </script>

    <script>

       

    </script>
</body>
</html>
